@mixin -WebBlocks-grid-panel {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  &:not(:first-child) {
    margin-left: $WebBlocks-grid-panel-gutter;
  }
}

@mixin -WebBlocks-grid-panel-collapsed {
  width: 100%;
  margin-left: 0;
}

@mixin -WebBlocks-grid-panel-fluid-span($columns, $fluidGridColumnWidth, $fluidGridGutterWidth) {
  width: ($fluidGridColumnWidth * $columns) + ($fluidGridGutterWidth * ($columns - 1));
}

@mixin -WebBlocks-grid-panel-right {
  float: right;
  &:not(:first-child) {
    margin-right: $WebBlocks-grid-panel-gutter;
    margin-left: 0;
  }
}

/**
 * Widths are always available on panels for % width controls
 */

@mixin -WebBlocks-grid-panels-generate {

  $i: $WebBlocks-grid-panels; @while $i > 0 {

  .panel-#{$i} {
    @include -WebBlocks-grid-panel-fluid-span($i, $WebBlocks-grid-panel-width, $WebBlocks-grid-panel-gutter);
  }

  $i: ($i - 1);
}

}

.row {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

/**
 * .xxsmall-collapse behavior collapses at $breakpoint-xsmall
 */

.row.xxsmall-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-xxsmall+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-xxsmall) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-xxsmall+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-xxsmall+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * .xsmall-collapse behavior collapses at $breakpoint-xsmall
 */

.row.xsmall-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-xsmall+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-xsmall) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-xsmall+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-xsmall+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * Default and .small-collapse behavior collapses at $breakpoint-small
 */

.row {

  &:not([class*="-collapse"]), &.small-collapse {

    > [class*="panel-"] {

      @media (min-width: $breakpoint-small+1) {
        @include -WebBlocks-grid-panel;
      }

      @media (max-width: $breakpoint-small) {
        @include -WebBlocks-grid-panel-collapsed;
      }

    }

    &.right > [class*="panel-"] {
      @media (min-width: $breakpoint-small+1) {
        @include -WebBlocks-grid-panel-right;
      }
    }

    @media (min-width: $breakpoint-small+1) {
      @include -WebBlocks-grid-panels-generate;
    }

  }

}

/**
 * .medium-small-collapse behavior collapses at $breakpoint-medium-small
 */

.row.medium-small-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-medium-small+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-medium-small) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-medium-small+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-medium-small+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * .medium-collapse behavior collapses at $breakpoint-medium
 */

.row.medium-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-medium+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-medium) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-medium+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-medium+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * .medium-large-collapse behavior collapses at $breakpoint-medium-large
 */

.row.medium-large-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-medium-large+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-medium-large) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-medium-large+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-medium-large+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * Default and .small-collapse behavior collapses at $breakpoint-small
 */

.row.large-collapse {

  > [class*="panel-"] {

    @media (min-width: $breakpoint-large+1) {
      @include -WebBlocks-grid-panel;
    }

    @media (max-width: $breakpoint-large) {
      @include -WebBlocks-grid-panel-collapsed;
    }

  }

  &.right > [class*="panel-"] {
    @media (min-width: $breakpoint-large+1) {
      @include -WebBlocks-grid-panel-right;
    }
  }

  @media (min-width: $breakpoint-large+1) {
    @include -WebBlocks-grid-panels-generate;
  }

}

/**
 * .no-collapse behavior never collapses the row
 */

.row.no-collapse {

  > [class*="panel-"] {
    @include -WebBlocks-grid-panel;
  }

  &.right > [class*="panel-"] {
    @include -WebBlocks-grid-panel-right;
  }

  @include -WebBlocks-grid-panels-generate;

}